TNWW_TIMEZONE=America/Chicago
TNWW_SQLITE_PATH=/data/tnww.sqlite
TNWW_OPENMETEO_LAT=36.0598
TNWW_OPENMETEO_LON=-86.8291
TNWW_DROPBOX_SAMPLING_XLSX=https://www.dropbox.com/scl/fi/8h7xqelfia41krdzqwq5k/HR-UpToDate.xlsx?rlkey=kb0287ib5qw3bv4qdzn3ue2v9&st=cur5pnc3&dl=1
