TNWW_TIMEZONE=America/Chicago
TNWW_SQLITE_PATH=/data/tnww.sqlite
TNWW_OPENMETEO_LAT=36.0598
TNWW_OPENMETEO_LON=-86.8291
TNWW_DROPBOX_SAMPLING_XLSX=https://www.dropbox.com/scl/fi/ixjj9txmt1sj4ubulm70h/HR-UpToDate.xlsx?rlkey=hxyf4lnukpnh0zggwhf535z22&st=j0npivm4&dl=1
